body{
	background-color: #E6E6E6;
	background-image:url("fondo.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	
}


div#cabecera{
	position:relative;
	margin: -10px 259px 0px 259px;
	//padding: 0px 0px 0px 0px ;
	height:155px;
}

div#fondo{
	background-image: url("http://files.myopera.com/G0B3R/albums/13598832/Header.png");
	height: 65%;
}

img.imgcabecera{
	width:100%;
	max-width:10000px;
	max-height:155px;
}

div#principal{
	margin-top: -10px;
	margin-right: 260px;
	margin-left: 260px;;
	margin-bottom: 10px;
	padding: 10px 10px 10px 10px;
	background-color: #FFF;
	
}


div#cuerpo{
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	background-color: yellow;
	height:800px;
}

div#banner{
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	background-color: blue;
	height:150px;

}

div#izquierda{

	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	background-color: gray;
	height:550px;
	width:27%;
	float:left;

}

div#derecha{

	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	background-color: gray;
	height:550px;
	width:66.5%;
	float:left;

}

div#pie{

	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	background-image: url("http://files.myopera.com/G0B3R/albums/13598832/Header.png");
	background-attachment: fixed;
	height:100px;
}
